---
Checks:
  - '*'
  - -altera-struct-pack-align
  - -altera-unroll-loops
  - -boost-use-ranges
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-owning-memory
  - -fuchsia-default-arguments-calls
  - -fuchsia-default-arguments-declarations
  - -fuchsia-overloaded-operator
  - -google-readability-todo
  - -hicpp-named-parameter
  - -llvm-header-guard
  - -llvm-prefer-static-over-anonymous-namespace
  - -llvm-use-ranges
  - -llvmlibc-*
  - -modernize-use-trailing-return-type
  - -performance-enum-size
  - -portability-avoid-pragma-once
  - -readability-identifier-length
  - -readability-magic-numbers
  - -readability-named-parameter
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions:
  bugprone-exception-escape.FunctionsThatShouldNotThrow: WinMain;wWinMain
  bugprone-narrowing-conversions.PedanticMode: true
  bugprone-misplaced-widening-cast.CheckImplicitCasts: true
  bugprone-suspicious-enum-usage.StrictMode: true
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  google-runtime-int.UnsignedTypePrefix: std::uint
  google-runtime-int.SignedTypePrefix: std::int
  google-runtime-int.TypeSuffix: _t
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-identifier-naming.AggressiveDependentMemberLookup: true
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-implicit-bool-conversion.AllowIntegerConditions: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
  readability-uppercase-literal-suffix.NewSuffixes: L;LL;LU;LLU
...
