[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pre-commit = "*"
conan = "*"
ninja = "*"
cmake = "*"
clang-format = "*"
gcovr = "*"

[requires]
python_version = "3.10"
