name: Commitlint

on: [pull_request]

jobs:
  check-history:
    name: Check commit history
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: npm

      - name: Install commitlint
        run: npm ci

      - name: Check history
        run: npx commitlint --from origin/${{ github.base_ref }} --to origin/${{ github.head_ref }}
